= link_to t('activate'), activate_admin_order_type_path(@order_type), method: :put, class: ' btn btn-danger'

= link_to t('dismiss'), dismiss_admin_order_type_path(@order_type), method: :delete, class: 'btn btn-primary'
