version: '2'
services:
  db_activiti:
    image: postgres
    hostname: postgres-activiti
    container_name: postgres-activiti
    restart: always
    environment:
      PGDATA: /var/lib/postgresql/data/activiti/
      POSTGRES_DB: $BPM_DB_NAME
      POSTGRES_USER: $BPM_DB_USER
      POSTGRES_PASSWORD: $BPM_DB_PASSWORD
      TZ: Europe/Moscow
    volumes:
      - $HOMS_PATH/data/activiti/postgresql:/var/lib/postgresql/data
    networks:
      - custom_network
  db_homs:
    image: postgres
    hostname: postgres-homs
    container_name: postgres-homs
    environment:
      PGDATA: /var/lib/postgresql/data/homs
      POSTGRES_DB: $HOMS_DB_NAME
      POSTGRES_USER: $HOMS_DB_USER
      POSTGRES_PASSWORD: $HOMS_DB_PASSWORD
      TZ: Europe/Moscow
    volumes:
      - $HOMS_PATH/data/homs/postgresql:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - custom_network
  activiti:
    image: latera/activiti-homs
    container_name: activiti
    links:
      - $BPM_DB_HOST:postgres-activiti
    environment:
      HOMS_HOST: homs
      DB_HOST: $BPM_DB_HOST
      BPM_DB_HOST: $BPM_DB_HOST
      BPM_DB_USER: $BPM_DB_USER
      BPM_DB_PASSWORD: $BPM_DB_PASSWORD
      ACTIVITI_LOGIN: $BPM_USER
      ACTIVITI_PASSWORD: $BPM_PASSWORD
    ports:
      - 8080:8080
    depends_on:
      - db_activiti
    networks:
      - custom_network
  minio:
    image: minio/minio
    container_name: minio
    command: "server /opt/minio"
    environment:
      MINIO_ACCESS_KEY: $MINIO_ACCESS_KEY
      MINIO_SECRET_KEY: $MINIO_SECRET_KEY
    volumes:
      - $HOMS_PATH/data/minio:/opt/minio
    ports:
      - 9000:9000
  homs:
    image: latera/homs-with-oracle
    container_name: homs
    links:
      - $HOMS_DB_HOST:postgres-homs
      - activiti:activiti
    volumes:
      - $TNSNAMES_PATH:/etc/oracle/tnsnames.ora
      - /etc/hydra/homs/homs_configuration.yml:/opt/homs/config/homs_configuration.yml
      - /etc/hydra/homs/imprint.yml:/opt/homs/config/imprint.yml
      - /etc/hydra/homs/hbw.yml:/opt/homs/config/hbw.yml
      - /etc/hydra/homs/database.yml:/opt/homs/config/database.yml
      - /etc/hydra/homs/bpm.yml:/opt/homs/config/bpm.yml
      - /etc/hydra/homs/sources.yml:/opt/homs/config/sources.yml
      - /etc/hydra/homs/secrets.yml:/opt/homs/config/secrets.yml
    depends_on:
      - db_homs
      - activiti
      - minio
    environment:
      HOMS_DB_HOST: $HOMS_DB_HOST
      HOMS_DB_USER: $HOMS_DB_USER
      HOMS_DB_PASSWORD: $HOMS_DB_PASSWORD
    ports:
      - 3000:3000
    networks:
      - custom_network
networks:
  custom_network:
    driver: bridge
