version: '2'
services:
  db_activiti:
    image: postgres
    hostname: postgres-activiti
    container_name: postgres-activiti
    restart: always
    environment:
      PGDATA: $BPM_DB_PATH
      POSTGRES_DB: $BPM_DB_NAME
      POSTGRES_USER: $BPM_DB_USER
      POSTGRES_PASSWORD: $BPM_DB_PASSWORD
      TZ: Europe/Moscow
    volumes:
      - $HOMS_PATH/data/activiti/postgresql:/var/lib/postgresql/data
    networks:
      - custom_network
  db_homs:
    image: postgres
    hostname: postgres-homs
    container_name: postgres-homs
    restart: always
    environment:
      PGDATA: $HOMS_DB_PATH
      POSTGRES_DB: $HOMS_DB_NAME
      POSTGRES_USER: $HOMS_DB_USER
      POSTGRES_PASSWORD: $HOMS_DB_PASSWORD
      TZ: Europe/Moscow
    volumes:
      - $HOMS_PATH/data/homs/postgresql:/var/lib/postgresql/data
    ports:
      - $HOMS_DB_PORT:5432
    networks:
      - custom_network
  activiti:
    image: latera/activiti-homs
    container_name: activiti
    restart: always
    links:
      - db_activiti:$BPM_DB_HOST
    environment:
      HOMS_HOST: $HOMS_HOST
      DB_HOST: $BPM_DB_HOST
      BPM_DB_HOST: $BPM_DB_HOST
      BPM_DB_USER: $BPM_DB_USER
      BPM_DB_PASSWORD: $BPM_DB_PASSWORD
      ACTIVITI_LOGIN: $BPM_USER
      ACTIVITI_PASSWORD: $BPM_PASSWORD
    ports:
      - $BPM_PORT:8080
    depends_on:
      - db_activiti
    networks:
      - custom_network
  minio:
    image: minio/minio
    container_name: minio
    command: "server /opt/minio"
    restart: always
    environment:
      MINIO_ACCESS_KEY: $MINIO_ACCESS_KEY
      MINIO_SECRET_KEY: $MINIO_SECRET_KEY
    volumes:
      - $HOMS_PATH/data/minio:/opt/minio
    ports:
      - $MINIO_PORT:9000
  homs:
    image: latera/homs-with-oracle
    container_name: homs
    restart: always
    links:
      - db_homs:$HOMS_DB_HOST
      - activiti:$BPM_HOST
    volumes:
      - $TNSNAMES_PATH:/etc/oracle/tnsnames.ora
      - /etc/hydra/homs/homs_configuration.yml:/opt/homs/config/homs_configuration.yml
      - /etc/hydra/homs/imprint.yml:/opt/homs/config/imprint.yml
      - /etc/hydra/homs/hbw.yml:/opt/homs/config/hbw.yml
      - /etc/hydra/homs/database.yml:/opt/homs/config/database.yml
      - /etc/hydra/homs/bpm.yml:/opt/homs/config/bpm.yml
      - /etc/hydra/homs/sources.yml:/opt/homs/config/sources.yml
      - /etc/hydra/homs/secrets.yml:/opt/homs/config/secrets.yml
    depends_on:
      - db_homs
      - activiti
      - minio
    environment:
      HOMS_DB_HOST: $HOMS_DB_HOST
      HOMS_DB_NAME: $HOMS_DB_NAME
      HOMS_DB_USER: $HOMS_DB_USER
      HOMS_DB_PASSWORD: $HOMS_DB_PASSWORD
      BPM_HOST: $BPM_HOST
      BPM_USER: $BPM_USER
      BPM_PASSWORD: $BPM_PASSWORD
    ports:
      - $HOMS_PORT:3000
    networks:
      - custom_network
networks:
  custom_network:
    driver: bridge
