version: '2'
services:
  db_homs:
    image: postgres
    hostname: postgres-homs
    container_name: postgres-homs
    restart: always
    environment:
      PGDATA: /var/lib/postgresql/data/homs
      POSTGRES_DB: $HOMS_DB_NAME
      POSTGRES_USER: $HOMS_DB_USER
      POSTGRES_PASSWORD: $HOMS_DB_PASSWORD
      TZ: Europe/Moscow
    ports:
      - 5432:5432
    networks:
      - custom_network
  homs:
    image: latera/homs_testing
    container_name: homs_testing
    restart: always
    links:
      - $HOMS_DB_HOST:postgres-homs
    environment:
      GENERATE_DOC: $GENERATE_DOC
      HOMS_DB_HOST: $HOMS_DB_HOST
      HOMS_DB_NAME: $HOMS_DB_NAME
      HOMS_DB_USER: $HOMS_DB_USER
      HOMS_DB_PASSWORD: $HOMS_DB_PASSWORD
      BPM_USER: $BPM_USER
      BPM_PASSWORD: $BPM_PASSWORD
    depends_on:
      - db_homs
    ports:
      - 3000:3000
    networks:
      - custom_network
networks:
  custom_network:
    driver: bridge
