// Here all styles used by BPM widget

@import url("https://use.fontawesome.com/releases/v5.7.1/css/solid.css")
@import url("https://use.fontawesome.com/releases/v5.7.1/css/regular.css")
@import url("https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css")

.hbw-select2
  @import 'select2'

.hbw-styles
  @import 'hbw/variables'

  @import 'bootstrap'
  @import 'bootswatch/flatly/bootswatch'
  @import 'select2_bootstrap3'
  @import 'bootstrap-datetimepicker'

  @import 'tooltip'

  .pre-scrollable
    overflow-y: auto

  .hbw-active-task
    font-weight: bold

  .hbw-active-task:hover
    text-decoration: none
    cursor: default

  .hbw-inactive-task
    font-weight: normal

  .hbw-inactive-task:hover
    background-color: $gray-light

  .has-error
    @include validation-state-focus($btn-danger-color)

  .tab-content
    border-bottom: 1px solid #ecf0f1
    border-left: 1px solid #ecf0f1
    border-radius: 0 0 4px 4px
    border-right: 1px solid #ecf0f1
    padding: 10px
    overflow: visible

  .form-group
    display: table
    width: 100%

    .invalid
      border-color: red

    .tooltip.right
      z-index: 1010

    .tooltip-red
      .tooltip
        background-color: red

        &[x-placement^="top"] .tooltip-arrow
          border-top-color: red

        &[x-placement^="bottom"] .tooltip-arrow
          border-bottom-color: red

        &[x-placement^="right"] .tooltip-arrow
          border-right-color: red

        &[x-placement^="left"] .tooltip-arrow
          border-left-color: red

  .hbw-checkbox-label
    display: table-cell
    vertical-align: middle

  .field_with_errors
    @extend .has-error
    .form-control
      color: $state-danger-text

  // make all images responsive by default
  img
    @extend .img-responsive
    margin: 0 auto

  // override for the 'Home' navigation link
  .navbar-brand
    font-size: inherit

  // THESE ARE EXAMPLES YOU CAN MODIFY
  // create your own classes
  // to make views framework-neutral
  .column
    @extend .col-md-6
    @extend .text-center

  .form
    @extend .col-md-6

  .form-centered
    @extend .col-md-6
    @extend .text-center

  .submit
    @extend .btn
    @extend .btn-primary
    @extend .btn-lg

  .button-xs
    @extend .btn
    @extend .btn-primary
    @extend .btn-xs

  .container h2
    margin-top: 1.2em
    margin-bottom: .7em

  h4.empty-list
    padding-top: 1em

  .control-label
    font-weight: normal

  .form-horizontal
    .checkbox
      padding-top: 3px

    label.control-label
      padding-right: 0

  a > .fa
    margin-right: .25em

  header > nav > .container > .navbar-collapse
    margin-left: -15px

  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice
    background-color: white

  .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field
    width: 100% !important

  .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder
    color: darken(#acb6c0, 20%)

  .show-hidden-order-data
    margin-top: .5em

  .edit-order-button
    margin-top: 1em

  .btn-default:hover:not(.disabled)
    background-color: $btn-default-border
    border-color: $btn-default-border
    color: $body-bg

  .btn-primary:hover:not(.disabled)
    background-color: $btn-primary-border
    border-color: $btn-primary-border
    color: $body-bg

  .btn-success:hover:not(.disabled)
    background-color: $btn-success-border
    border-color: $btn-success-border
    color: $body-bg

  .btn-info:hover:not(.disabled)
    background-color: $btn-info-border
    border-color: $btn-info-border
    color: $body-bg

  .btn-warning:hover:not(.disabled)
    background-color: $btn-warning-border
    border-color: $btn-warning-border
    color: $body-bg

  .btn-danger:hover:not(.disabled)
    background-color: $btn-danger-border
    border-color: $btn-danger-border
    color: $body-bg

  .clear-both
    clear: both

  .hbw-form
    .hbw-checkbox-label
      font-weight: normal
      margin-top: 10px

    .claim
      padding-top: 15px

      .claim-button-secondary
        padding: 10px 15px
        background-color: transparent
        border: 1px solid $claiming-purple
        border-radius: 2px
        color: $claiming-purple
        cursor: pointer
        font-weight: 550
        outline: none

        &:hover
          color: $claiming-purple-hover
          border: 1px solid $claiming-purple-hover

  .hbw-menu-button
    position: relative
    cursor: pointer

    .counter
      position: absolute
      font-family: $font-family-base
      top: 28px
      right: 5px
      font-size: .8em
      text-align: center
      height: 18px
      width: 18px
      border-radius: 9px
      background-color: white
      color: $text-color

    &:hover .counter
      background-color: $brand-success

  .hbw-spinner
    height: 45px
    margin-bottom: 15px

  .hbw-spinner-text
    display: inline-block
    margin-left: 1em
    padding-top: 0.5em

  .btn.disabled
    background-size: 40px 40px
    @include gradient-striped
    @include animation(progress-bar-stripes 2s linear infinite)
    color: white

    &.btn-primary
      @include progress-bar-variant($btn-primary-border)

    &.btn-success
      @include progress-bar-variant($btn-success-border)

    &.btn-info
      @include progress-bar-variant($btn-info-border)

    &.btn-warning
      @include progress-bar-variant($btn-warning-border)

    &.btn-danger
      @include progress-bar-variant($btn-danger-border)

    &.btn-default
      @include progress-bar-variant($btn-default-border)

  .hidden
    visibility: hidden

  .hbw-table
    scrollbar-color: grey white
    overflow-y: auto
    display: block
    width: 100%
    max-height: 700px

    table
      border-top: 1px

    thead th
      position: sticky
      top: 0
      background: white
      box-shadow: inset 0 1px 0 #ecf0f1, inset 0 -1px 0 #ecf0f1

    &::-webkit-scrollbar
      width: 10px

    &::-webkit-scrollbar-track
      background: transparent

    &::-webkit-scrollbar-thumb
      background: #888

    &::-webkit-scrollbar-thumb:hover
      background: #555

  table.select-table
    tr
      &.selected
        background-color: #445C72
        color: white
      &:hover
        td
          cursor: pointer
          background-color: #2C3E50
          color: white

    .text-align-left
      text-align: left
    .text-align-center
      text-align: center
    .text-align-right
      text-align: right

  table.disabled
    background-color: #eeeeee

  .attacher
    align-items: center
    justify-content: center
    display: flex
    margin-top: 5px
    border: 1px solid #ccc
    border-radius: 7px
    width: 150px
    padding: 8px
    color: #ccc

    &.activated
      border: 2px dashed #dce4ec
      width: auto
      max-width: 480px
      height: 115px
      padding-top: 13px

      .drop_text
        font-size: 16px
        color: #2C3E50

    .drop_text
      pointer-events: none
      font-size: 12px
      text-align: center

  .tabs
    display: flex
    justify-content: space-between
    align-items: stretch
    white-space: nowrap
    margin-bottom: 30px
    a
      display: flex
      outline: none
      text-decoration: none
      padding: 14px 30px
      color: black

      &:hover
        border-bottom: 1px solid #50e3c2
    ul
      padding: 0
      width: 100%
      border-bottom: 1px solid #d8d8d8

      li
        display: inline-block
        margin-bottom: -1px

        &.is-active
          a
            padding-bottom: 10px
            font-weight: bold
            border-bottom: 5px solid #50e3c2

  .claiming-table
    width: 100%

    .no-tasks, .loader
      color: black
      text-align: center

    tr
      color: black

    thead
      border-bottom: solid 1px #dbdbdb

      th
        font-weight: 200

    tbody
      i
        color: $claiming-purple

      tr
        cursor: pointer
        border-left: 3px solid transparent

        &.chosen, &:hover
          border-left: 3px solid $claiming-purple
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)

        .priority
          text-align: center

        td
          vertical-align: text-top !important
          padding-top: 15px !important
          padding-bottom: 15px !important

  .priority
    &.medium
      background-color: #926902

    &.high
      background-color: #bc851c

    &.urgent
      background-color: #d0021b

  .deadline
    color: #bd2025
    font-weight: 500

  .claim-button-secondary
    padding: 5px 15px
    background-color: transparent
    border: 1px solid $claiming-purple
    border-radius: 2px
    outline: none
    color: $claiming-purple
    font-weight: 500
    line-height: 24px

    &:hover
      color: $claiming-purple-hover
      border: 1px solid $claiming-purple-hover

  .claim-button-primary
    padding: 5px 15px
    background-color: $claiming-purple
    border: 1px solid $claiming-purple
    border-radius: 2px
    outline: none
    color: white
    font-weight: 500
    line-height: 24px

    &:hover
      background-color: $claiming-purple-hover
      border: 1px solid $claiming-purple-hover

  .task-overview
    display: flex
    flex-direction: column

    .bold
      font-weight: bold

    .header
      margin-bottom: 15px
      font-size: 18px

    .title
      color: $claiming-purple
      margin-bottom: 15px

      span
        padding-right: 7px

    .two-cols
      margin-bottom: 5px

      tr
        td
          padding-bottom: 15px

          &:first-child
            width: 25%
            padding-right: 20px
            color: #4A4A4A

    .description
      margin-bottom: 20px

    .buttons
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: flex-start
      flex-basis: 100%

      button
        margin-right: 20px
        margin-bottom: 10px

  .search-input-with-controls
    position: relative
    float: right

    input
      width: 350px
      height: 40px
      padding-left: 30px
      padding-right: 30px
      border: 1px solid #D5D5D5
      border-radius: 3px

    .icon
      display: inline-flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      height: 40px
      width: 30px
      font-size: small
      color: $claiming-purple

      &.search
        left: 5px
        pointer-events: none

      &.cross
        right: 5px
        cursor: pointer

  .claiming-menu-button
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='241.667px' height='235.5px' viewBox='0 0 241.667 235.5' enable-background='new 0 0 241.667 235.5' xml:space='preserve'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23F36D53' d='M234.784,61.563c1.813,7.728-1.417,15.498-4.867,22.728 c-3.307,6.928-7.986,13.285-13.592,18.822c-6.42,6.34-13.518,11.819-21.663,15.438c-9.061,4.02-18.448,7.645-28.637,7.521 c-6.161-0.068-12.348-0.292-18.462-0.982c-3.209-0.363-6.371-1.69-9.405-2.953c-4.578-1.899-8.994-2.459-12.332,2.634 c-2.816,4.301-6.283,8.18-9.007,12.527c-1.476,2.36-1.769,5.433-3,7.991c-3.527,7.318-4.02,15.071-3.274,22.924 c0.33,3.491,1.54,6.903,2.445,10.322c0.38,1.433,1.158,2.775,1.496,4.216c1.958,8.333,7.248,14.495,14.038,18.797 c5.849,3.707,12.695,5.973,19.991,4.119c4.886-1.238,7.152-5.397,9.763-9.143c4.081-5.845,9.392-9.642,16.736-9.628 c1.422,0,3.494,0.637,4.075,1.662c0.574,1.01-0.016,3.085-0.718,4.337c-1.166,2.086-2.867,3.858-4.271,5.814 c-0.931,1.295-1.948,2.597-2.554,4.052c-1.251,3.014,0.208,5.035,3.484,4.824c3.645-0.238,7.284-0.637,10.909-1.096 c2.312-0.298,4.425-0.28,5.538,2.199c1.082,2.409-0.004,4.195-1.848,5.707c-2.374,1.95-4.664,4.017-7.11,5.864 c-3.602,2.725-7.822,3.394-12.227,3.828c-3.249,0.313-6.509,1.273-9.589,2.423c-11.303,4.206-22.334,3.91-33.84,0.106 c-11.454-3.796-19.927-11.073-26.761-20.39c-3.298-4.501-5.046-10.151-7.477-15.289c-0.243-0.513-0.288-1.121-0.53-1.633 c-6.466-13.666-5.644-28.097-3.379-42.308c1.144-7.183,4.183-14.139,7.792-20.77c4.855-8.92,11.089-16.516,18.437-23.33 c2.44-2.263,2.432-4.956,1.706-7.934c-2.555-10.478-8.086-19.178-15.872-26.4c-12.561-11.649-27.284-16.79-44.383-14.025 c-4.891,0.79-8.719,3.803-12.546,6.689c-1.272,0.956-2.253,2.305-3.518,3.273c-3.321,2.547-3.746,5.832-2.649,9.567 c0.161,0.551,0.297,1.156,0.624,1.601c4.591,6.265,3.696,12.723,0.532,19.152c-0.696,1.413-2.002,3.232-3.27,3.455 c-1.241,0.214-3.215-1.053-4.112-2.249c-1.631-2.167-2.767-4.729-3.993-7.183c-2.011-4.021-4.394-4.459-7.2-0.894 c-1.442,1.832-2.142,4.238-3.385,6.256c-0.966,1.569-1.975,3.596-3.464,4.229c-2.161,0.912-3.738-1.117-5.022-2.764 c-3.752-4.814-3.691-14.253-0.51-19.53c2.887-4.793,5.669-9.781,7.516-15.032c1.752-4.974,4.958-8.77,8.036-12.677 c5.517-7.002,13.06-11.46,21.052-14.968c6.708-2.943,14.02-3.366,21.225-3.081c5.921,0.231,12.02,0.545,17.658,2.164 c6.712,1.931,13.239,4.603,19.423,8.254c8.035,4.746,14.814,10.749,20.751,17.765c3.364,3.974,6.998,7.902,8.526,13.135 c0.064,0.221,0.14,0.459,0.28,0.63c5.008,6.144,5.46,13.975,7.703,21.134c1.194,3.818,3.747,6.322,7.468,7.451 c10.065,3.042,20.054,2.778,29.942-0.95c5.235-1.975,10.668-3.583,14.937-7.426c3.798-3.412,7.819-6.717,10.964-10.691 c3.153-3.989,5.537-8.642,7.906-13.185c2.939-5.643,2.783-11.759,0.293-17.335c-4.079-9.143-4.374-9.008-14.009-11.232 c-6.235-1.433-10.722-5.518-14.648-10.208c-2.232-2.665-0.163-6.585,3.371-6.554c3.303,0.029,6.602,0.68,9.906,0.747 c1.561,0.04,3.695-0.134,4.581-1.117c1.52-1.69,0.748-3.967-0.58-5.699c-1.602-2.096-3.551-3.932-5.024-6.106 c-0.893-1.32-2.063-3.868-1.546-4.444c1.214-1.348,3.308-2.38,5.148-2.579c6.141-0.662,10.657,3.167,14.761,6.838 c2.713,2.427,4.228,6.191,6.355,9.304c2.381,3.484,4.945,6.857,7.24,10.401c1.347,2.077,2.373,4.375,3.447,6.62 c0.441,0.922,0.492,2.032,0.95,2.946C234.781,46.719,235.347,53.639,234.784,61.563z'/%3E%3C/svg%3E") no-repeat center
    background-size: 50%
    position: relative
    cursor: pointer
    height: 60px
    width: 60px

    span
      position: absolute
      padding-left: 3%
      padding-right: 3%
      top: 25%
      right: 0
      text-align: center
      color: white
      font-size: .7em
      border-radius: 5px
      min-width: 50%
      background-color: #00a09d

    .short-list
      display: flex
      flex-direction: column
      justify-content: flex-start
      flex-basis: 100%
      padding: 0 15px

      .row
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 10px 0
        border-bottom: 1px solid #D8D8D8
        cursor: pointer
        &:hover
          background-color: #f1f1f1

        &.expired
          color: #BD2025
          i
            color: #BD2025

        i
          padding: 3px 5px
          color: $claiming-purple

        .left, .right
          display: flex
          flex-grow: 1
        .left
          justify-content: flex-start
        .right
          justify-content: flex-end
          padding-right: 10px

      .button
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: 20px

#hbw-claiming-tasks
  display: flex
  flex-direction: row

  .table
    flex-direction: column
    flex-basis: 70%

  .overview
    flex-basis: 30%
    padding-left: 5%
    padding-top: 170px

  .title-row
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 30px

    .title
      font-size: 26px
      font-weight: bold

#hbw-tasks
  .hbw-disabled
    visibility: hidden

  .hbw-enabled
    visibility: visible

  $hbw-tasks-z-index: 10

  .hbw-launcher
    bottom: 10px
    height: 48px
    position: fixed
    right: 10px
    width: 48px
    visibility: visible
    z-index: $hbw-tasks-z-index
    display: block

  .hbw-launcher-button
    // background-color: #0071b2
    background-image: url("https://js.intercomcdn.com/images/icon-launcher.png")
    background-position: center center
    background-repeat: no-repeat
    background-size: 22px 22px
    background-color: #2C3E50
    border-color: #2C3E50
    // border-color: #00498a
    border-radius: 50%
    border-style: solid
    // border-width: 1px
    border-width: 0
    bottom: 0
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
    cursor: pointer
    height: 48px
    position: absolute
    right: 0
    width: 48px

  .hbw-widget-inactive
    visibility: hidden

  .hbw-widget-enabled
    visibility: visible

  .hbw-sheet
    top: 72px
    height: 100%
    position: fixed
    overflow-y: auto
    right: 0
    transform: scale(1)
    transform-origin: right bottom 0
    transition: transform 250ms ease-in-out 0s, opacity 100ms linear 150ms
    z-index: $hbw-tasks-z-index

  .hbw-sheet-header-container
    background: white none repeat scroll 0 0
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08)
    height: 54px
    position: absolute
    left: 0
    top: 0
    width: 100%
    z-index: $hbw-tasks-z-index + 2
    cursor: pointer

  .hbw-sheet-header-title-container
    -moz-text-align-last: center
    height: 100%
    left: 0
    pointer-events: none
    position: absolute
    text-align: center
    top: 0
    width: 100%
    z-index: $hbw-tasks-z-index

  .hbw-sheet-header-title
    color: #465c66
    display: inline-block
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    font-style: normal
    font-size: 17px
    font-weight: 500
    letter-spacing: 0.2px
    line-height: 54px
    max-width: 200px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .hbw-sheet-header-button
    height: 54px
    margin: 0 20px
    position: relative
    z-index: $hbw-tasks-z-index + 1

  .hbw-sheet-header-close-button
    float: right
    margin-left: 15px

  .hbw-sheet-header-button-icon
    background-position: center center
    height: 100%

  .hbw-sheet-header-close-button .hbw-sheet-header-close-button-icon
    background-image: url("https://js.intercomcdn.com/images/icon-close.png")
    background-repeat: no-repeat
    background-size: 13px 13px
    width: 16px

  .hbw-sheet-body
    background: rgb(251, 250, 251)
    border-left: 1px solid #dadee2
    bottom: 0
    position: absolute
    right: 0
    top: 0
    width: 100%
    z-index: $hbw-tasks-z-index
    padding: 65px 10px 10px 10px

  .hbw-task-group-item
    margin-bottom: 0
    font-size: 12px

  .hbw-task-item
    padding-left: 15px
    font-size: 12px
    cursor: pointer

  .select2-results__option:empty
    display: none

#hbw-bp-control-buttons-container
  .process-name
    font-size: 1.5em
    margin-bottom: .7em

  .hbw-bp-control-buttons
    margin-bottom: 1em
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start

    .hbw-button
      margin-right: 5px
      margin-bottom: 5px

  .hbw-error
    .show-more
      font-size: .8em
      color: white

  .collapsable
    a
      cursor: pointer
    i
      cursor: pointer

  .panel-default,
  .panel-group
    overflow: visible

li.danger
  a
    color: #E74C3C
    &:focus
      color: #E74C3C

input.hbw-checkbox
  &[type=checkbox]
    display: none

input.hbw-checkbox
  &[type=checkbox]
    + span:before
      font-family: "Font Awesome 5 Free"
      display: inline-block

input.hbw-checkbox
  &[type=checkbox]:checked
    + span:before
      content: "\f14a"

input.hbw-checkbox
  &[type=checkbox]:disabled
    + span:before
      color: #D3D3D3

input.hbw-checkbox
  &[type=checkbox]
    + span:before
      content: "\f0c8"

.btn-group
  .btn-primary
    margin-right: 1px
