.hbw-styles
  // common
  --base-body-bg-color: #{$body-bg}

  // buttons
  --base-btn-padding: 10px 15px
  --base-btn-border: 2px solid
  --base-btn-border-radius: 4px

  // button colors
  --base-btn-default-color: #{$btn-default-color}
  --base-btn-primary-color: #{$btn-primary-color}
  --base-btn-danger-color: #{$btn-danger-color}
  --base-btn-success-color: #{$btn-success-color}
  --base-btn-info-color: #{$btn-info-color}
  --base-btn-warning-color: #{$btn-warning-color}
