.hbw-styles
  // common
  --base-body-bg-color: #{$body-bg}

  // buttons
  --base-btn-padding: 10px 15px
  --base-btn-border: 2px solid
  --base-btn-border-radius: 4px

  // button colors
  --base-btn-default-color: #{$btn-default-color}
  --base-btn-primary-color: #{$btn-primary-color}
  --base-btn-danger-color: #{$btn-danger-color}
  --base-btn-success-color: #{$btn-success-color}
  --base-btn-info-color: #{$btn-info-color}
  --base-btn-warning-color: #{$btn-warning-color}

  //borders
  --base-hbw-border-light-gray: 1px solid var(--hbw-light-gray, var(--base-hbw-light-gray))
  //colors
  --base-hbw-light-gray: #ECF0F1 //box-shadow + border
  --base-hbw-table-disabled-color: #EEEEEE
  --base-hbw-attacher-color: #CCCCCC
  --base-hbw-claimimg-popup-description-color: #BDBDBD
  --base-hbw-alto: #DBDBDB //background + color in inputs and table
  --base-hbw-gray-lighter: #{$gray-lighter} // background + border
  --base-hbw-inactive-task-hover-color: #{$gray-light}
  --base-hbw-select-control-bg-color: #ECF0F1
  --base-hbw-red: red //border + background
  --base-hbw-white: white //btn + th + tr + td + div + show-more
  --base-hbw-scrollbar-color: grey white
  --base-hbw-webkit-scrollbar-thumb-color: #888
  --base-hbw-webkit-scrollbar-thumb-hover-color: #555
  --base-hbw-selected-element: #445C72
  --base-hbw-pickled-bluewood: #2C3E50 //hovered td + activated drop_text + focused select
  --base-hbw-mystic: #DCE4EC // select + attacher border color
  --base-hbw-black: black // a +claiming table +claiming popup
  --base-hbw-brand-success: #{$brand-success} //claiming-count +hbw-icon-svg-path + tabs -> a border
  --base-hbw-text-color: #{$text-color} //border + color in div
  --base-hbw-priority-medium-color: #926902
  --base-hbw-priority-high-color: #{$brand-warning}
  --base-hbw-urgent-color: #E74C3C
  --base-hbw-task-overview-first-child-color: #4A4A4A
  --base-hbw-short-list-row-hover: #{$table-bg-hover}
  --base-hbw-short-list-expired-color: #BD2025
  --base-hbw-li-danger: #E74C3C
