development:
  - name: camunda_1
    url: http://camunda:8080/engine-rest/
    login: <%= ENV['BPM_USER'] %>
    password: <%= ENV['BPM_PASSWORD'] %>
    process_definitions:
      - new_process

production:
  - name: camunda_1
    url: http://camunda:8080/engine-rest/
    login: <%= ENV['BPM_USER'] %>
    password: <%= ENV['BPM_PASSWORD'] %>
    process_definitions:
      - new_process
  - name: camunda_2
    url: http://camunda:8081/engine-rest/
    login: <%= ENV['BPM_USER'] %>
    password: <%= ENV['BPM_PASSWORD'] %>
    processes:
      - old_process

test:
  - name: camunda_1
    url: http://camunda:8080/engine-rest/
    login: <%= ENV['BPM_USER'] %>
    password: <%= ENV['BPM_PASSWORD'] %>
    process_definitions:
      - new_process
