hbw:
  adapter: camunda # BPM system adapter

  order:
    entity_code_key: homsOrderCode

    bp_toolbar:
      entity_type_buttons:
        vacation_request:                          # Order type code
          - name: 'Handle Vacation Request'        # Button text
            title: 'Start handle vacation process' # Button help text
            class: 'btn btn-default'               # Button container class
            fa_class: 'fa fa-user'                 # Button icon class
            bp_code: 'vacationRequestProcess'      # Business process code
        support_request:
          - name: 'Handle Support Request'
            title: 'Start handle support process'
            class: 'btn btn-default'
            fa_class: 'fa fa-user'
            bp_code: 'supportRequestProcess'
        pizza_order:
          - name: 'Process Pizza Order'
            title: 'Start pizza order processing'
            class: 'btn btn-default'
            fa_class: 'fa fa-user'
            bp_code: 'pizzaOrderProcess'

  billing_customer:
    entity_code_key: billingCustomerId

    bp_toolbar:
      common_buttons: []
      entity_type_buttons: {}

  crm_account:
    entity_code_key: crmAccountId

    bp_toolbar:
      common_buttons: []
      entity_type_buttons: {}

  use_activiti_stub: false

  minio:
    endpoint: 'http://127.0.0.1:9000'
    access_key_id: <%= ENV['MINIO_ACCESS_KEY'] %>
    secret_access_key: <%= ENV['MINIO_SECRET_KEY'] %>
    bucket: <%= ENV['MINIO_BUCKET_NAME'] %>
    region: 'us-east-1'
