hbw:
  bp_toolbar:
    entity_type_buttons:
      vacation_request:                          # Order type code
        - name: 'Handle Vacation Request'        # Button text
          title: 'Start handle vacation process' # Button help text
          class: 'btn btn-default'               # Button container class
          fa_class: 'fa fa-user'                 # Button icon class
          bp_code: 'vacationRequestProcess'      # Business process code
      support_request:
        - name: 'Handle Support Request'
          title: 'Start handle support process'
          class: 'btn btn-default'
          fa_class: 'fa fa-user'
          bp_code: 'supportRequestProcess'
      pizza_order:
        - name: 'Process Pizza Order'
          title: 'Start pizza order processing'
          class: 'btn btn-default'
          fa_class: 'fa fa-user'
          bp_code: 'pizzaOrderProcess'
