locale:
  code: en
  datetime_format: '%m/%d/%Y %H:%M %p'
  date_format: '%m/%d/%Y'

sessions:
  token_authentication:
    enabled: false
    token: null
    sign_in_as: user@example.com

link_to_manual: "http://hydra-oms.com/docs"

use_imprint: true

greeting:

announcement:

orders_expiration_warning_days: 1

cef_logger: false

sso:
  enabled: true
  use_regular_login: true
  keycloak:
    auth_server_url: "http://0.0.0.0:8080"
    realm: hydra
    client_id: homs
    secret: "1fad7395-de0e-456a-a559-2896aa82f5e3"
