default: &default
  source_path: app/javascript
  source_entry_path: packs
  public_output_path: assets/packs
  cache_path: tmp/cache/webpacker
  resolved_paths: ['vendor/assets/javascripts', 'hbw/app/javascript/packs']
  cache_manifest: false

  extensions:
    - .jsx
    - .js
    - .tsx
    - .ts

development:
  <<: *default
  compile: true
  dev_server:
    https: false
    host: 0.0.0.0
    port: 3035
    hmr: true
    inline: true
    overlay: true
    compress: true
    disable_host_check: true
    use_local_ip: true
    quiet: false
    headers:
      'Access-Control-Allow-Origin': '*'
    watch_options:
      ignored: /node_modules/

test:
  <<: *default
  compile: false

production:
  <<: *default
  compile: false
  cache_manifest: true
